body {
  font-family: "Roboto", sans-serif;
}

@import '../../globals';

html {
     background: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    min-width: 100%;
}
@include react-md-everything;
a {
  text-decoration:  none;
  color: #fff;
}
.bar-card a {
  color: $md-blue-grey-600;
}
.bar-card a:hover {
  color: $md-blue-grey-300;
}
.space {
  padding-right: 5px;

}
.login-wrapper {
   position: absolute;
   top: -360px;
   left: 25%;
   height: 300px;
}
.message {
  text-align: center;
}
.option-signin {
   font-size: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
    .line-divider {
      width: 260px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .line-divider span {
      padding: 5px;
      color: darkgreen;
    }
}
.signin {
  @extend .login-form;
  padding-bottom: 0px;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
   
}
.welcome {
  height: 100px;
 margin-left: auto;
margin-right: auto;
}
.card {
    min-width: 300px;
    height: auto;
    margin: 7px;
    margin-top: 0px;
}
.going-button { 
    margin-top: 8px; 
    min-width: 60px;
    min-height: 30px;
    max-height: 50px;
    background-color: $md-blue-grey-500;
    color: #fff;
    border-radius: 5px;
}
.bar-card {
    width: 800px;
    min-height: 150px;
    height: auto;
    border-left-color: $md-blue-grey-500;
    border-left-style: solid;
    border-width: 7px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}
.login-card {
 @extend .card;
  width: 520px;
  height: 500px;
  padding: 30px;
}
.search-card {
    #botton {
      margin-right: 10px;
    }
}
.search-wrapper {
    width: 750px;
    height: 40px;
    background: $md-blue-grey-600;
    border-radius: 8px;
    cursor: text;
    align-self: center;
    margin-left: 15%;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    input[type='text'] {
      font-size: 20px;
      line-height: 20px;
      
       border: none;
      width: 100%;
      outline: none;
      background: transparent;
      color: #fff;
      
      
    }
    
     input[type='search']::-webkit-search-cancel-button {
       //-webkit-appearance: none;
       -webkit-appearance: none;
      
       content: 'X';
       background: #fff;
     }
     #botton {
      margin-right: 10px;
    }
  }

/**@media #{$md-desktop-media} {
   .search-wrapper {
     width: 750px;
   }
}**/
@media screen and (max-width: 640px) {
  .cards {
    align-items: flex-start;
    justify-content: center;
  }
  .my-card {
   margin: 3px;
  }
}
.social-button {
  color: #fff;
}
.social-icon {
  margin-right: 5px;
  color: #fff
}
.facebook-button {
  @extend .social-button;
  background-color: royalblue;
}
.twitter-button {
  @extend .social-button;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #55acee;
}

@media (min-width: 360px) and (max-width: 640px){
    .small-device {
       justify-content: flex-start;
       font-size: 12px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
   .small-device {
       justify-content: flex-end;
       font-size: 10px;
       width: 100px;
    }
}
